
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
#register{
    color: #FFFFFF;
    background-color: #289BDE;
}
footer{
    color: #FFFFFF;
    background-color: #161616;
}
.social-icon{
    color:#FFFFFF;
    font-size: 40px;
}